@import "../../variables.scss";

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: auto;
  padding: 50px 20px;
  max-width: 1200px;
  margin-top: 50px;
}

.aboutTextContainer {
  text-wrap: wrap;
  color: $terziary-color;
  margin-left: 40px;
}

.aboutTitle {
  margin-bottom: 1rem;
  font-size: 30px;
}

.aboutText {
  line-height: 23px;
  padding: 10px;
}

.aboutLogo {
  padding: 40px;
  margin: auto;
  max-width: 100%;
}

.divider {
  margin: auto;
  max-width: 80%;
  grid-column: span 2;
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }
  .aboutTitle {
    margin: 20px;
    font-size: 27px;
    padding: 10px 0;
    text-align: center;
  }

  .aboutTextContainer {
    margin: 10px;
  }

  .aboutLogo {
    margin: 2rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  .divider {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .aboutTextContainer {
    margin: 30px;
  }

  .about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;
  }
  .aboutTitle {
    margin: 20px;
    font-size: 27px;
    padding: 10px 0;
    text-align: center;
  }
  .aboutLogo {
    margin: auto;
    margin-top: 1rem;
    max-width: 80%;
  }
  .divider {
    display: none;
  }
}
